@model MiParteVentaCar.AppWebMVC.Models.Auto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Auto</h1>


<div class="catalog-item body2" style="width: 100%; background-color :darkgray; border: 1px solid #ddd; padding: 20px; margin: 0; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">
    <div class="image-container" style="text-align: center; margin-bottom: 20px;">
        @if (!string.IsNullOrWhiteSpace(Model.Urlimagen))
        {
            <img src="@Model.Urlimagen" alt="@Model.Modelo" style="max-width: 600px; height: 375px;" />
        }
        else
        {
            <p>No hay imagen disponible.</p>
        }
    </div>

    <div class="details-container">
        <div class="detail-row">
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.AnnoFabricacion):</strong> @Model.AnnoFabricacion</div>
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.Modelo):</strong> @Model.Modelo</div>
        </div>
        <div class="detail-row">
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.DescripcionA):</strong> @Model.DescripcionA</div>
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.Kilometraje):</strong> @Model.Kilometraje</div>
        </div>
        <div class="detail-row">
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.Estado):</strong> @Model.Estado</div>
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.Precio):</strong> @Model.Precio</div>
        </div>
        <div class="detail-row">
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.Urt):</strong> @Model.Urt</div>
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.FechaRp):</strong> @Model.FechaRp</div>
        </div>
        <div class="detail-row">
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.Actividad):</strong> @Model.Actividad</div>
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.Comentario):</strong> @Model.Comentario</div>
        </div>
        <div class="detail-row">
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.IdDepartamentoNavigation.Departamento1):</strong> @Model.IdDepartamentoNavigation.Departamento1</div>
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.IdMarcaNavigation.Marca1):</strong> @Model.IdMarcaNavigation.Marca1</div>
        </div>
        <div class="detail-row">
            <div class="detail-item"><strong>@Html.DisplayNameFor(model => model.IdVendedorNavigation.Nombre):</strong> @Model.IdVendedorNavigation.Nombre</div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        
        <a asp-action="Index" class="btn btn-primary">Regresar</a>
    </div>
</div>

<style>

    /* body {
        background-color: lightblue;
    }

    body2 {
        background-color: white;
    } */


    .image-container img {
        max-width: 900px; /* Ajusta el tamaño de la imagen */
        height: 900px;
    }

    .details-container {
        display: flex;
        flex-direction: column;
    }

    .detail-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    .detail-item {
        width: 48%; /* Ajusta el ancho de cada elemento */
        padding: 5px;
        border-bottom: 1px solid #eee;
    }
</style>